.loadMore{
  padding: 0.783vh;
    border: none;
    border-radius: 3px;
    background: rgb(255, 159, 28);
    color: #121212;
    font-family: sans-serif;
    cursor: pointer;
}
.loadMore:hover{background: rgb(42, 42, 42);
    color: rgb(255, 255, 255);}
.imageMovieList:hover{
 border:1px solid white;
}
.imageMovieList{
cursor:pointer;
border:1px solid transparent;
width: 13.7vw;
height: 45vh;
    }
    .anchorMovieList1{
      margin-left: 15.66vw;font-size: 100%;background-color:  #121212;color:white;
    }
    .spanMovieList1{
      margin-left:13vw;
    }
    .imageMovieList1{
      background-color: #2a2a2a;color:white;
    }
    .spanMovieList2{
      margin-left: 45vw
    }
    .selectMovieList1{
      background-color: #2a2a2a;
  color: white;
  height: 6.9vh;
  width: 12vw;
    }
    .divMovieList1{
      background-color: #121212;
    }
    .divMovieList2{
      display: grid;
    gap: 1.566vw 0.783vw;
    grid-template-columns: repeat(6, auto);
    width: 80%;
    height: 100%;
    margin: 0px auto;
    }
    .divMovieList3{
      display: flex;
    flex-direction: column;
    width: 13.70vw;
    text-decoration: inherit;
    color: inherit;height:100%;
    background-color: rgb(42, 42, 42);
    }


    @media only screen and (max-width: 600px) {
      .spanMovieList2{
        margin-left: 29.9vw;
    }
    
    .divMovieList2 {
        display: grid;
        gap: 3.566vw 5.000vw;
        grid-template-columns: repeat(2, auto);
        width: 80%;
        height: 100%;
        margin: 0px auto;
    }
    
    .divMovieList3{
        display: flex;
        flex-direction: column;
        width: 38.70vw;
        text-decoration: inherit;
        color: inherit;
        height: 100%;
    }
    .imageMovieList1{
      width: 28vw;
      height: 5.9vh;
          }
          .selectMovieList1 {
            height: 5.9vh;
    width: 24vw;
        }
     }