<a class="anchorMovieList1">Trending
  <span *ngIf="MovieOrTv==='movie'">Movies</span><span *ngIf="MovieOrTv==='Tv'">Shows</span></a><br>
<br>
<span class="p-input-icon-left spanMovieList1">
  <i class="pi pi-search"></i>
  <input class="imageMovieList1" type="text" pInputText (input)="movieSearchfun()" placeholder="Search"
    [(ngModel)]="movieSearch" />
</span>
<span class="spanMovieList2">
  <select class="selectMovieList1" [(ngModel)]="MovieOrTv" (change)="getData();movieSearch=null;">
    <option value="movie">
      Movies
    </option>
    <option value="Tv">
      Tv-Shows
    </option>
  </select>
</span>
<br><br><br>
<div class="divMovieList1">
  <div class="divMovieList2"  infinite-scroll [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
    <a class="divMovieList3" *ngFor="let k of moviesArray">
      <img class="imageMovieList" [title]='k.title' [src]='baseImgUrl+k.poster_path'
        (click)="NavigateToMovieDetailPage(k.id);" [alt]="k.title">
    </a>
  </div>
</div>
<p style="color:white;float:right;">Created by Ankush Singhal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
