.loadMore{
  padding: 10px;
    border: none;
    border-radius: 3px;
    background: rgb(255, 159, 28);
    color: rgb(18, 18, 18);
    font-family: Roboto;
    cursor: pointer;
}
.loadMore:hover{background: rgb(42, 42, 42);
    color: rgb(255, 255, 255);}
.imageMovieList:hover{
 border:1px solid white;
}
.imageMovieList{
cursor:pointer;
    }