<div>

  <div>
    <div class="divMoive1">
      <button class="btn" [routerLink]="'/home'"><i class="fa fa-home"></i> Home</button>
      <br><br>
      <p class="pMoive1">{{movieName}}</p>
      <div class="divMoive2">
        <h4 class="h4Moive1" *ngFor="let k of movieGenre|slice:0:2 index as i;">
          {{k}}<span *ngIf="i!=1&&movieGenre.length!=1">,&nbsp;</span>
        </h4>
      </div>
    </div>
    <p class="pMoive2">Rating:&nbsp;&nbsp;<span class="spanMoive1">{{movieRating}}</span>/10</p>
  </div>
  <div class="divMoive3"><span>Overview</span>
    <br>
    <span class="spanMoive2">{{movieDescription}}</span>
  </div>
  <br>
  <div>
    <img class='imag imgMoive1' [src]=moviePoster />
    <iframe class="iframeMoive1" [src]="videoLink|santise:'resourceUrl'" frameborder="0"
      allowfullscreen autoplay></iframe>
  </div>

</div>
<p style="color:white;float:right;">Created by Ankush Singhal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>