

<div style="border:1px solid white;color: white;">
  <div>
    <div>
     <button (click)="test();">yyyy</button>
      <p style="font-size: 48px;font-weight: 700;height: 1vh;">{{MovieTitle}}</p>
      <p style="
      font-size: 24px;
      font-weight: 500;"><span style="color:rgb(255, 64, 64);">{{movieRating}}</span>/10</p>
      <button class="favBtn" (click)="addFavourite();" ><i class="pi pi-heart"></i><span *ngIf="favourite">Added</span><span *ngIf="!favourite">Add to Favourites</span></button>
      <h4 style="color: rgb(255, 64, 64); display: inline;"  *ngFor = "let k of movieGenre">
        {{k.name}}
      </h4>
    </div>
    <div *ngFor = " let val of movieData">{{val}}</div>
  </div>
 
  <br>
  <img style="display:inline;" class='imag' [src]=moviePoster />
 <!--  <iframe style="display:inline;" width="640" height="360" src="//www.youtube.com/embed/odM92ap8_c0?rel=0&html5=1&vq=hd720&modestbranding=1&autoplay=1" frameborder="0" allowfullscreen autoplay></iframe> -->
 <iframe style="display:inline;" width="640" height="360" [src]="videoLink|santise:'resourceUrl'" frameborder="0" allowfullscreen autoplay></iframe> 
 <p>About the movie</p>
  <p>{{movieDescription}}</p>
  <p style="color: rgb(255, 64, 64);">Actors</p>
  <p *ngFor="let t of movieActors">
    {{t}}
  </p>
  <p style="color: rgb(255, 64, 64);">Director</p>
  <p *ngFor="let t of movieDirectors">
    {{t}}
  </p>
  <p style="color: rgb(255, 64, 64);">Producers</p>
  <p *ngFor="let t of movieProducer">
    {{t}}
  </p>

</div>
