

<div style="border:1px solid white;color: white;">
  <div>
    <div>
      <p style="font-size: 48px;font-weight: 700;height: 1vh;">{{MovieTitle}}</p>
      <p style="
      font-size: 24px;
      font-weight: 500;"><span style="color:rgb(255, 64, 64);">{{movieRating}}</span>/10</p>
      <button class="favBtn" (click)="addFavourite();" ><i class="pi pi-heart"></i><span *ngIf="favourite">Added</span><span *ngIf="!favourite">Add to Favourites</span></button>
      <h4 style="color: rgb(255, 64, 64); display: inline;"  *ngFor = "let k of movieGenre">
        {{k.name}}
      </h4>
    </div>
    <div *ngFor = " let val of movieData">{{val}}</div>
  </div>
  <br>
  <img class='imag' [src]=moviePoster />
  <p>About the movie</p>
  <p>{{movieDescription}}</p>
  <p style="color: rgb(255, 64, 64);">Actors</p>
  <p *ngFor="let t of movieActors">
    {{t}}
  </p>
  <p style="color: rgb(255, 64, 64);">Director</p>
  <p *ngFor="let t of movieDirectors">
    {{t}}
  </p>
  <p style="color: rgb(255, 64, 64);">Producers</p>
  <p *ngFor="let t of movieProducer">
    {{t}}
  </p>

</div>
